@import "tailwindcss";

@theme inline {
  --color-primary: #4e6e5d;
  --color-secondary: #0d1821;
  --color-accent: #ad8a64;
  --color-light: #eff1f3;
  --color-danger: #a44a3f;
  --color-background: var(--color-secondary);
  --color-foreground: var(--color-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
